* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    background-color: #333;
    color: white;
    padding: 1em;
}

.logo {
    display: inline-block;
}

.banner {
    margin: 1em 0;
}

.text {
    width: 60%;
}

.icons{
    width: 30%;
}
.card {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin: 10px;
    background-color: #f8f8f8;
    width: 25%;
    justify-items: center;
    align-items: center;
}
.cards {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    padding: 30px 30px 30px 50px;
}


.card {
    flex: 0 0 30%;
    flex-direction: column;
    gap: 0.5em;
    width: 30%;
    justify-content: start;
    background-color: transparent;
    border: none;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.card .card-header {
    background-color: navy;
    height: auto;
    flex-direction: column;
    width: 424px;
    height: 168px;
    margin: 20px 0px -25px 0px;
    padding:  20px 0px 0px 24px;
    text-align: start;
}

.card .card-body {
    display: flex;
    flex-wrap: nowrap;
    padding: 15px 0px 0px 0px;
    margin: 20px 0px 0px 0px;
    align-items: center;
    justify-content: center;
    gap: 1em;
    
   
}

button {
    background: blue;
    border: 2px solid;
    font: inherit;
    margin: 10px 0px 0px 0px;
    padding: 10px 5px 0px 4px;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    font-size: 11px;
    width: 300em;
    text-align: start;
    gap: 0.5em;
}

button p {
    display: inline;
    margin-left: 20px;
    text-align: end;
    padding: 0px 0px 0px 20px;
    flex-wrap: nowrap;
}

.passage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 110px;
}